version: '3.4'
networks:
  default:
    external:
      name: "dataclay-testing-network"
services:
  logicmoduleB:
    image: "bscdataclay/logicmodule:${JAVACLAY_IMAGE}"
    platform: ${IMAGE_PLATFORM}
    ports:
      - "22034:22034"
    command: "--debug"
    environment:
      - LOGICMODULE_PORT_TCP=22034
      - LOGICMODULE_HOST=logicmoduleB
      - DATACLAY_ADMIN_USER=admin
      - DATACLAY_ADMIN_PASSWORD=admin
      #- EXPOSED_IP_FOR_CLIENT=127.0.0.1
    stop_grace_period: 5m
    healthcheck:
       interval: 5s
       retries: 10
       test: ["CMD-SHELL", "/home/dataclayusr/dataclay/health/health_check.sh"]
         
  dsjavaB:
    image: "bscdataclay/dsjava:${JAVACLAY_IMAGE}"
    platform: ${IMAGE_PLATFORM}
    ports:
      - "4127:4127"
    command: "--debug"
    depends_on:
      - logicmoduleB
    environment:
      - DATASERVICE_NAME=DS1
      - DATASERVICE_JAVA_PORT_TCP=4127
      - LOGICMODULE_PORT_TCP=22034
      - LOGICMODULE_HOST=logicmoduleB
    stop_grace_period: 5m
    healthcheck:
       interval: 5s
       retries: 10
       test: ["CMD-SHELL", "/home/dataclayusr/dataclay/health/health_check.sh"]

  dspythonB:
    image: "bscdataclay/dspython:${PYCLAY_IMAGE}"
    platform: ${IMAGE_PLATFORM}
    ports:
      - "7867:7867"
    command: "--debug"
    depends_on:
      - logicmoduleB
      - dsjavaB
    environment:
      - DATASERVICE_NAME=DS1
      - DATASERVICE_PYTHON_PORT_TCP=7867
      - LOGICMODULE_PORT_TCP=22034
      - LOGICMODULE_HOST=logicmoduleB
    stop_grace_period: 5m
    healthcheck:
      interval: 5s
      retries: 10
      test: ["CMD-SHELL", "/home/dataclayusr/dataclay/health/health_check.sh"]